
.quote-input {
    background-color: transparent;
    border: 2px solid #a1922e;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 0.5rem;
    border-radius: .5rem;
  }
  
  .quote-input:focus {
    border-color: black;
  }

  .quote-input {
    background-color: white;
    border: 1px solid black;
    margin-top: 3rem;
    outline: none;
    width: 100%;
    height: 8rem;
    margin:auto; 
    resize: none;
    padding: .5rem 1rem;
    -webkit-box-shadow: -4px 12px 6px -7px rgba(0,0,0,0.6);
-moz-box-shadow: -4px 12px 6px -7px rgba(0,0,0,0.6);
box-shadow: -4px 12px 6px -7px rgba(0,0,0,0.6);
  font-size: 20px;
 }


  
 .container{
  background-color: beige;
  padding: 1rem;
  border-radius: .5rem;
  width: 700px;
  max-width: 90%;
  margin: auto;
  -webkit-box-shadow: -4px 12px 16px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: -4px 12px 16px 0px rgba(0,0,0,0.6);
  box-shadow: -4px 12px 16px 0px rgba(0,0,0,0.6);
}
.container2{
  background-color: beige;
  padding: 1rem;
  border-radius: .5rem;
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  max-width: 90%;
  -webkit-box-shadow: -4px 12px 16px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: -4px 12px 16px 0px rgba(0,0,0,0.6);
  box-shadow: -4px 12px 16px 0px rgba(0,0,0,0.6);
}

body{
  background-color: RGB(198, 212, 225);
}